Source: wz-httpd
Section: unknown
Priority: extra
Maintainer: bachan <ba4an@yandex.ru>
Build-Depends: debhelper (>= 7.0.50~), cmake
Standards-Version: 3.8.4
Homepage: https://github.com/bachan/wz-httpd
#Vcs-Git: git://git.debian.org/collab-maint/wz-httpd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/wz-httpd.git;a=summary

Package: wz-httpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wz-httpd http server
 wz-httpd http server (two thread pools for different kind of queries)

Package: wz-httpd-dev
Architecture: any
Depends: wz-httpd ${shlibs:Depends}, ${misc:Depends}
Description: wz-httpd http server dev headers
 wz-httpd http server headers for plugin development

